/* Fonts
----------------------------------------------------------------------------------------------------*/

body {
	font-family: $main-font;
}
.quicksand {
	font-family: $secondary-font;
	font-weight: 700;
}
.montserrat {
	font-family: $tertiary-font;
	font-weight: 700;
}

/* Sizes
----------------------------------------------------------------------------------------------------*/

body {
	font-size: $font-size-base;
}
.headline {
	font-size: em(50px);
	@include rt(30, 50, 320, 1320);
}
.title, .entry-content h1 {
	font-size: em(50px);
	@include rt(30, 50, 320, 1320);
}
.list-title, .entry-content h2 {
	font-size: em(40px);
	@include rt(30, 40, 320, 1320);
}
.large-copy, .entry-content h3 {
	font-size: em(30px);
}
.large-copy strong {
	font-size: rem(35px);
}
header nav, .medium-copy, .entry-content h4 {
	font-size: em(25px);
}
.bio-title, .entry-content h5, .entry-content h6 {
	font-size: em(18px);
}
.bio-copy, footer nav, .presentation-powered-label {
	font-size: em(13px);
	line-height: 1.75;
}
.list-number {
	font-size: em(150px);
}
.presentation-title {
  font-size: em(30px);
	@include rt(20, 30, 320, 1320);
}

/* Colors
----------------------------------------------------------------------------------------------------*/

body, 
a,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	color: $color-blue-medium;
}
a:hover {
	opacity: .7;
}
.bg-blue-medium, 
.bg-blue-light, 
.page-template-template-presentation-page h1.presentation-title,
.presentation-footer, 
.black-button, 
.presentation-powered-label {
	color: $color-white;
	a {
		color: $color-white;
	}
}
p {
}
.dark-grey, .bio-copy a, .entry-content  {
	color: $color-grey-dark;
}

.page-template-template-presentation-page {
  h1, h2, h3, h4, h5, h6, p {
    color: $color-black;
  }
}

/* Styles
----------------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
strong, .bold, .bio-copy a, .entry-content h5  {
	font-weight: 700;
}
.text-upper, footer nav {
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}